=@font-face {
    font-family: 'Raleway';
    src: url('./Raleway/static/Raleway-Medium.ttf') format('truetype');      
}
/*annulation l'effet de href sur toute la page*/
a:link 
{ 
 text-decoration:none; 
}
/*classe qui englobe toute la page aprÃƒÂ¨s le body*/
.global{
    font-family:"Raleway", sans-serif;
    width:1343px;
    padding-top:1%;
    margin-left: auto;
    margin-right: auto;   
}
/*contient le logo et la navigation de HÃƒÂ©bergement, activitÃƒÂ©s et S'inscrire*/
#reservia{
    display: flex;
    justify-content: space-between;
    color: #0065FC;
}
/*logo reservia en haut ÃƒÂ  gauche*/
#logo{
    width: 93px;
    padding-top:2%;
    object-fit:scale-down;
}
/*la navigation de HÃƒÂ©bergement, activitÃƒÂ©s et S'inscrire*/
.liste-entete {
    display: flex;
    width: 30%;
    margin-right: 40px;
    font-size: 15px;
    justify-content: space-between;
    position:
}
/*annulation les points de liste*/
li{
    list-style:none;
}
/*le 1 er Element dans la naviagation de la page  */
.element:nth-child(1){
	width:33%;
	height:40px;;
	padding-top:2%;
	text-align:center;
}
/*le 2 em Element dans la naviagation de la page  */
.element:nth-child(2){
	width:33%;
	height:40px;;
	padding-top:2%;
	text-align:center;
}
/*le 3em Element dans la naviagation de la page  */
.element:nth-child(3){
	width:33%;
	height:40px;;
	padding-top:2%;
	text-align:center;
}
/*le survole bleu au dessus pour les Ã©lements de la navigation*/
.element:nth-child(1):hover{
	 border-top:3px #0065FC solid;
}
.element:nth-child(2):hover{
	 border-top:3px #0065FC solid;
}
.element:nth-child(3):hover{
	 border-top:3px #0065FC solid;
}
 

/*le titre en haut ÃƒÂ  gauche Trouvez votre hÃƒÂ©bergement pour des vacances de rÃƒÂªve*/
#trouve-hebergement{
    font-size: 22px;
    width: auto;
    font-weight:bolder;
}
/*recherche de ville icone, champ de saisie, et bouton de recherche*/
#localisation{
    display: flex;
    align-items: center;  
}
/*le mot recherche en blanc*/
#bouton-recherche{
	color:white;
}
/*icone de map*/
.fa-map-marker-alt {
    padding-top: 10px;
    padding-left: 17px;
    height: 30px;
    width: 35px;
    background-color:#F2F2F2;
    border-radius: 10px 0 0 10px;
}
/*champ de saisie de la ville de recherche dans le header*/
#input{
    width:15%;
    min-width:200px;
    height: 40px;
    padding-left:1%;
    font-size: large;
    font-family: Raleway;
    border: 2px solid #F2F2F2;
    outline: none;
}
/*bouton recherche la ville d'hÃƒÂ©bergement dans header*/
#button{
    height: 40px;
    width: 135px;
    text-align:center;
    font-size:16px;
    font-family: Raleway;
    font-weight:bold;
    border-radius: 0 10px 10px 0;
    color: white;
    background-color: #0065FC;
    border: none;
}
/*l'icone qui remplace le bouton de recherche */
.fa-search{
	color: #0065FC;
}
/*contient Filtrtes, toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
#filtres{
    display: flex;
    align-items: baseline;
    max-width:940px;
}
/*co,tient les 4 icones de filtres*/
#filtre-b2{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	width:100%;
}
/*les icones de filtres */
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog{
    padding-top: 12px;
    padding-left: 17px;
    height: 30px;
    width: 33px;
    background-color:#DEEBFF;
    border-radius:50px;
    color: #0065FC;  
}
/*classe de l'icone et son label, toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
.filtres{
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    border-left: none;
    margin-left: 20px;
    width:auto;
    padding-right:14px;
    margin-bottom:1%; 
}
/*classe que pour label des icones toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
.filtre{
    margin-left:5px;
}
.filtre:hover{
    color:#0065FC;
}
/*icone d'info de plus de 500 logements ...*/
.fa-info{
    background-color: white;
    width: 15px;
    height: 20px;
    padding-left: 10px;
    padding-top: 3px;
    color:#0065FC;
   border-radius: 50%;
   border: 2px solid #F2F2F2;
   font-size: small;
}
/*paragraphe de plus de 500 logments sont disponibles dans cette ville */
#fa-info{
    margin-left: 8px ;
}

/***************************section de HÃƒÂ©bergement ÃƒÂ  Marseille**************/
/*section contient aside1 et aside 2 */
#section1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right:auto; 
}
/*le titre HÃƒÂ©bergement ÃƒÂ  Marseille*/
h1{
    margin-left: 4%; 
}
/*aside1 contient le titre HÃƒÂ©bergement ÃƒÂ  Marseille et les 6 images */
#aside1{
    background-color: #F2F2F2;
    width:66%;
    border-radius: 20px;
    padding-top: 15px;
    margin-right:1%;
}

/*balise du symbole eruo*/
.euro{
    font-weight:bold;
}
/*aside0 contient  les 6 images de HÃƒÂ©bergement ÃƒÂ  Marseille */
.aside0{
    display: flex; 
    height: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
/*contient image, titre, paragraphe et ÃƒÂ©toiles, de l'hÃƒÂ©bergement ÃƒÂ  Marseille*/
.image{
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}
/*images correspond ÃƒÂ  chaque image des 6 images de HÃƒÂ©bergement ÃƒÂ  Marsielle*/
.images{
    width: 240px;
    height: 120px;
    padding-bottom: 0px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ; 
}
/*titre h3 de chaque image des 6 images hÃƒÂ©bergement ÃƒÂ  marseille et les 3 des plus populaires*/
h3{
    margin-top: 0px;
    margin-left: 10px;
    margin-bottom:0px;
    font-size: 16px;
}
/*correspond ÃƒÂ  la phrase"Nuit ÃƒÂ  partir de ..." dans l'aside HÃƒÂ©bergement ÃƒÂ  Marseille et les plus populaires*/
.prix{
    margin-top: 0px;
    margin-left: 10px;
    font-size: 12px;
    margin-bottom: 0px;
}
/*texte affiche plus dans aside 1*/
.affiche{
    margin-top: 20px;
    margin-left: 40px;;  
    font-size: 18px;
    font-family: 'Raleway';
    font-weight: bold;
}

/*etoiles******************************** 
/* Par dÃƒÂ©faut, une ÃƒÂ©toile est en gris,avec un padding et un curseur en forme de main. */
.fa-star {
	color:gray;
	cursor: pointer;
	padding: 0.0625rem;
}
/* Si elle porte en plus la classe '.gold', elle sera en jaune. */
.fa-star.gold {
    color:#0065FC;
}
/* Le parent global '.rating' positionne le groupe des ÃƒÂ©toiles et le lien en colonne */
.rating {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    padding-top: 0px;
    padding-left: 10px;
}
/* Le groupe '.stars' positionne les ÃƒÂ©toiles les unes ÃƒÂ  cÃƒÂ´tÃƒÂ© des autres sans espacements. */
.stars {
	display: inline-flex;
	justify-content: center;
    font-size: 10px;
}
/* A l'ÃƒÂ©tat :hover sur le parent '.rating',on force TOUTES les ÃƒÂ©toiles ÃƒÂ  passer en jaune. */
.stars:hover .fa-star {
	color: #0065FC;
}
/* Et si la souris survole une ÃƒÂ©toile en particulier,on sÃƒÂ©lectionne toutes les ÃƒÂ©toiles qui sont APRÃƒË†S celle-ci
		 grÃƒÂ¢ce ÃƒÂ  l'opÃƒÂ©rateur '~' et on les force en GRIS */
.stars .fa-star:hover ~ .fa-star {
	color: gray;
}

/***********************aside2*********************/

/*corespond au titre les plus popualires et l'icone dans aside 2*/
.title-populaire{
    display: flex;
    justify-content: space-between;
    padding-left:15px;
    padding-right: 30px;
    margin-top: 4px;
    align-items: baseline;
    font-size: 12px;
    width:auto;
    margin-left:6%;
    margin-right:1%;
}

/*aside2 les plus populaires contient tout le titre et les trois images */
.aside2{
    display: flex;
    flex-direction: column;
    width:31%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top: 15px;
    margin-left:1%;
}

/*contient l'image, le titre et le paragraphe*/
.populaire{
    display: flex;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    padding: 6px;
    width:80%;
   
}
/*les trois images de l'aside de titre les plus populaires*/
.image-populaire{
    width: 8em;
    height: 132px;
    padding-left:0px;
    object-fit:cover;
    border-radius:20px 0 0 20px;
}

/*contient les 3 images avec leur contenu de aside 2 de titre les plus populaires*/
#aside-populaire{
    display: flex;
    width:auto;
    height: 464px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    padding-bottom: 40px;
    flex-direction: column; 
    border-radius: 20px 20px 20px 20px;
}
/*titre et description de l'image dans l'aside les plus populaires*/
.titre-prix{
    padding-top: 12px;
    padding-left: 18px;
    width:50%;
    min-width:135px;
}
.titre-populaire{
    line-height: 22px;
}
.prix-hotel{
    line-height: 1px;
    padding-left: 10px;
    font-size: 12px;
}

.rating-postion{
    margin-top: 40px;
}

/****************************2ÃƒÂ¨m section ActivitÃƒÂ©s ÃƒÂ  Marseille*************************/

/*contien le bloc des 6 images de la section ActivitÃƒÂ©s ÃƒÂ  Marseille */ 
#activites-de-marseille{
    display:flex;
    justify-content: space-between;
}
/*cible chaque image du 2em et 4 em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.activite2{
    width: 300px;
    height: 142px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ;
}
/* image du 1er et 3em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/

.activite1{
    width: 300px;
    height: 380px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ;
}
/*tout le bloc 1 et 3 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite1{
    height: 444px;
    max-width:300px;
    border-radius: 20px 20px 20px 20px ;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 6px 6px #F2F2F2; 
    margin-right:1%;   
}

.fort-de-pomegues{
	margin-right:1%;
}
.parc-national{
	margin-left:1%;
}
/*tout le bloc 2 et 4 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite2{
    display:flex;
    justify-content: space-between;
    height: 444px;
    max-width:300px;
    border-radius: 20px 20px 20px 20px ;
    flex-direction: column;
    margin-left:1%;
}
/*image et le titre dessous bloc 2 et 4 de l'activitÃƒÂ©s ÃƒÂ  Marseille*/
.image2-titre2{
    box-shadow: 1px 6px 6px #F2F2F2;
    border-radius: 20px 20px 20px 20px ;
}
/*correspond ÃƒÂ  au titre h4 dans ActivitÃƒÂ© de Marseille */
.titre-activite{
    margin-left: 20px;   
}
#section2{
    display: flex;
    flex-direction: column;
}
/**********************pied de la page **************************/
#footer{
    margin-top: 4%;
    margin-left:-4%;
    margin-right:-3%;
    max-width: 1386px;
    padding-left:4%;
    display:flex;
    justify-content:flex-start;
    background-color: #F2F2F2;
    margin-bottom: 50px;
}
/*titre des blocs dans le pied de la page*****/
h5{
    font-size: 15px;
    margin-bottom: 6px;
}
/*titre et la liste du pied*/
.pied-titre-liste{
    width: 420px;
    display: flex;
    flex-direction: column;
}
.liste-pied{
    line-height: 24px;
    margin-top: 0px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    width: auto;
}


/********************************mÃƒÂ©dia queries*************************************************************************************/

@media (min-width:992px)and (max-width:1199px){
.global{
		width:auto;
}	
/*tout le bloc 1 et 3 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite1{
    width:22%;
    margin-left:2%  
}
/*tout le bloc 2 et 4 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite2{
    width:22%;
    margin-right:2%;
}
#h2-activite{
	margin-left:2%;
}
.parc-national{
	margin-left:0%;
}

/*cible chaque image du 2em et 4 em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.activite2{
    width:100%;
}
/* image du 1er et 3em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/

.activite1{
    width: 100%;
}

/***************************section de HÃƒÂ©bergement ÃƒÂ  Marseille**************/
/*section contient aside1 et aside 2 */
#section1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width:100%;
   
}
/*le titre HÃƒÂ©bergement ÃƒÂ  Marseille*/
h1{
    margin-left: 3%; 
}
/*aside1 contient le titre HÃƒÂ©bergement ÃƒÂ  Marseille et les 6 images */
#aside1{

    background-color: #F2F2F2;
    width:50%;
    height:750px;
    border-radius: 20px;
    padding-top: 15px;
    margin-left:1%
}

/*aside0 contient  les 6 images de HÃƒÂ©bergement ÃƒÂ  Marseille */
.aside0{
    display: flex; 
    height: auto;
    width:100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
/*contient image, titre, paragraphe et ÃƒÂ©toiles, de l'hÃƒÂ©bergement ÃƒÂ  Marseille*/
.image{
    padding: 5px 5px 5px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #F2F2F2;
    background-color: white;
    margin-bottom:3%;
    padding-bottom:2%;
    width:45%;
}
/*images correspond ÃƒÂ  chaque image des 6 images de HÃƒÂ©bergement ÃƒÂ  Marsielle*/
.images{
    width: 100%;
    padding-bottom: 0px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ; 
}
/*texte affiche plus dans aside 1*/
.affiche{
    margin-top:3%;
    margin-left: 2%;    
}

/***********************aside2*********************/

/*corespond au titre les plus popualires et l'icone dans aside 2*/
.title-populaire{
    display: flex;
    justify-content: space-between;
    margin-left:4%;
    padding-left:0%;
    padding-right:0%;
    margin-top: 1%;
    align-items: baseline;
    font-size: 12px;
    margin-right:4%;
}

/*aside2 les plus populaires contient tout le titre et les trois images */
.aside2{
    display: flex;
    flex-direction: column;
    width:45%;
    height:750px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-top:;
    margin-left:auto;
    margin-right:auto;
}

/*contient l'image, le titre et le paragraphe*/
.populaire{
    display: flex;
    border-radius: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color: white;
    padding: 6px;
    width:90%;
    margin-bottom:3%;
   
}
/*les trois images de l'aside de titre les plus populaires*/
.image-populaire{
    width:60%;
    min-height:180px;
    max-height:185px;
    height:17vw;
    padding-left:0px;
    object-fit:cover;
    border-radius:20px 0 0 20px;
}

/*contient les 3 images avec leur contenu de aside 2 de titre les plus populaires*/
#aside-populaire{
    display: flex;
    width:100%;
    height:auto;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9px;
    margin-bottom:10%;
    padding-bottom:2%;
    flex-direction: column; 
    border-radius: 20px 20px 20px 20px;
}
/*titre et description de l'image dans l'aside les plus populaires*/
.titre-prix{
    padding-top: 4%;
    padding-left:2%;
    width:38%;
    min-width:135px;
}
.titre-populaire{
    line-height: 22px;
}
.prix-hotel{
    line-height: 1px;
    padding-left:5%;
    font-size: 12px;
}

.rating-postion{
    margin-top: auto;
}

}

/*********Tablette***********************mÃƒÂ©dia queries**************************************/

@media (min-width:768px)and (max-width:991px){

.global{
	width:auto;
}
/*la navigation de HÃƒÂ©bergement, activitÃƒÂ©s et S'inscrire*/
.liste-entete {
    width: 45%; 
    margin-right:0%;
}
filtre-b2{
	display:flex;
}
/*section contient aside1 et aside 2 */
#section1{
    flex-wrap:wrap-reverse;    
}
/*classe de icone et son label, toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
.filtres{
    margin-bottom:1%; 
    margin-top:1%;
}
/*liste dans le pied de la page */
.liste1{
	min-width:39%;
}
/*l'entete de la page */
#head{
	padding-left:5%;
	padding-right:5%;
}

/*aside2 les plus populaires contient tout le titre et les trois images */
.aside2{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:6%;
    margin-bottom:2%;
    border-radius:0px;    
}

/*contient les 3 images avec leur contenu de aside 2 de titre les plus populaires*/
#aside-populaire{
    width:100%;
    padding-bottom:0%;
    height:100vw;
}

/*contient l'image, le titre et le paragraphe*/
.populaire{
    width:90%;
    margin-bottom:1%;
    padding-left:0px;
    height:30vw;
}

/*le titre HÃƒÂ©bergement ÃƒÂ  Marseille*/
h1{
    margin-left: 5%; 
}

/*les trois images de l'aside de titre les plus populaires*/
.image-populaire{
    width: 80%;
    height:30vw;
}

/*corespond au titre les plus popualires et l'icone dans aside 2*/
.title-populaire{
	display:flex;
	justify-content:space-between;
	padding-left:5%;
	padding-right:5%;
	margin-left:0%;
	margin-right:0%;
	align-items:baseline;
}

/*titre et description de l'image dans l'aside les plus populaires*/
.titre-prix{
    padding-top:8%;
   display:flex;
   flex-direction:column;
   position:relative;
}

.rating-postion{
  position: absolute;
  bottom:5%;
}

/*texte affiche plus dans aside 1*/
.affiche{
    margin-top: 0px;
    margin-left:5%;
}

/*aside1 contient le titre HÃƒÂ©bergement ÃƒÂ  Marseille et les 6 images */
#aside1{
	display:flex;
	flex-direction:column;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}

/*aside0 contient  les 6 images de HÃƒÂ©bergement ÃƒÂ  Marseille */
.aside0{
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%;
}

/*contient image, titre, paragraphe et ÃƒÂ©toiles, de l'hÃƒÂ©bergement ÃƒÂ  Marseille*/
.image{
    width:90%;
    margin-left:0px;
    margin-right:0px;
    height:38vw;
}

/*images correspond ÃƒÂ  chaque image des 6 images de HÃƒÂ©bergement ÃƒÂ  Marsielle*/
.images{
    width: 100%;
    margin-left:0px;
    margin-right:0px;
    height:30vw;
}
/****************************2ÃƒÂ¨m section ActivitÃƒÂ©s ÃƒÂ  Marseille*************************/

#h2-activite{
	margin-left:5%;
}

/*contien le bloc des 6 images de la section ActivitÃƒÂ©s ÃƒÂ  Marseille */ 
#activites-de-marseille{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap:wrap;
    width:auto; 
}

/*cible chaque image du 2em et 4 em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.activite2{
    width:100%;
    min-width:auto;
    height: 142px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ;
}

/* image du 1er et 3em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.activite1{
    width:100%;
    height: 380px;
    object-fit:cover;
    border-radius: 20px 20px 0 0 ;
}

/*tout le bloc 1 et 3 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite1{
    height: 444px;
    max-width:42%;
    width:100%;
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 1px 6px 6px #F2F2F2; 
    margin-left:5%;
}

.fort-de-pomÃƒÂ¨gues{
	margin-bottom:3%;
	width:100%;
}
.parc-national{
	margin-left:5%;
	width:100%;
}

/*tout le bloc 2 et 4 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite2{
    display:flex;
    justify-content: space-between;
    height: 444px;
    width:100%;
    max-width:42%;
    border-radius: 20px 20px 20px 20px ;
    flex-direction: column;
    margin-right:5%;
}

/*image et le titre dessous bloc 2 et 4 de l'activitÃƒÂ©s ÃƒÂ  Marseille*/
.image2-titre2{
	width:100%;
    box-shadow: 1px 6px 6px #F2F2F2;
    border-radius: 20px 20px 20px 20px ;
}

/*correspond ÃƒÂ  au titre h4 dans ActivitÃƒÂ© de Marseille */
.titre-activite{
    margin-left:5%;   
}

#section2{
    display: flex;
    flex-direction: column;
    width:auto;
}

#footer{
    padding-left:5%;
}
}
/**************************************************MOBILE***********************************************************************/

@media (min-width:0px) and (max-width:768px){

.global{
		width:auto;
        margin-left:auto;
        margin-right:auto;		
}

#head{
	padding-left:5%;
	padding-right:5%;
}

/*la navigation de HÃƒÂ©bergement, activitÃƒÂ©s et S'inscrire*/
.liste-entete {
    width: 45%; 
    display:flex;
    flex-direction:row;
}

/*le 1 er ÃƒÂ©lement dans la naviagation de la page  */
.element:nth-child(1){
  position:absolute;
  width:56%;
  left:-5%;
  margin-right:0%;
  height:30px;
  text-align:center;
  border-bottom:4px #F2F2F2 solid; 
}
.element:nth-child(1):hover{
	 border-bottom:3px #0065FC solid;
	 border-top:none;
}

/*le 2em ÃƒÂ©lement dans la naviagation de la page  */
.element:nth-child(2){
  position:absolute;
  right:5%;  
  width:56%;  
  height:30px;  
  margin-left:0%;
  margin-right:-12%;
  text-align:center;
  border-bottom:4px #F2F2F2 solid;
}

.element:nth-child(2):hover{
	 border-bottom:3px #0065FC solid;
	 border-top:none;
}

.element:nth-child(3):hover{
	 border-top:none;
}

/*le 3em ÃƒÂ©lement dans la naviagation de la page  */
.element:nth-child(3){
    position:absolute;
    right:0%;
    bottom:10px;
}
/*le premier titre de la page*/
#trouve-hebergement{
  margin-top:35px;
}
  
/*contient le logo et la navigation de HÃƒÂ©bergement, activitÃƒÂ©s et S'inscrire*/
#reservia{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content: space-between;
    color: #0065FC;
    position:relative;
}

/*concerne le mot recherche  */
#bouton-recherche{
    display: none;
}
/*le bouton qui est concernÃƒÂ©*/
#button{
	width:46px;	
	min-width:40px;
	border-radius: 10px 10px 10px 10px;
	margin-left:-5px;  
}
/*icone de bouton de recherche dans la ville d'hÃƒÂ©bergement dans header*/
.fa-search{
	color:white;
}

/*contient Filtrtes, toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
#filtres{
    flex-direction:column;
}
filtre-b2{
	display:flex;
}
/*section contient aside1 et aside 2 */
#section1{
    flex-wrap:wrap-reverse;    
}
/*classe de icone et son label, toutes les icones ÃƒÂ©conomique, familial, Romantique, Animaux autorisÃƒÂ©s*/
.filtres{
    margin-bottom:1%; 
    margin-top:1%;
}

/*aside2 les plus populaires contient tout le titre et les trois images */
.aside2{
    width:100%;
    height:132vw;
    min-width:auto;
    margin-left:auto;
    margin-right:auto;
    border-radius:0px;    
}

/*contient les 3 images avec leur contenu de aside 2 de titre les plus populaires*/
#aside-populaire{
    width:100%;
    padding-bottom:0%;
    height:auto;
    height:100vw;
}

/*contient l'image, le titre et le paragraphe*/
.populaire{
    width:90%;
    margin-bottom:4%;
    padding-left:0px;
    height:30vw;
}

/*le titre HÃƒÂ©bergement ÃƒÂ  Marseille*/
h1{
    margin-left: 5%; 
}
/*les trois images de l'aside de titre les plus populaires*/
.image-populaire{
    width: 50%;
    min-width:50%;
    height:30vw;
    
}
/*aside1 contient le titre HÃƒÂ©bergement ÃƒÂ  Marseille et les 6 images */
#aside1{
	display:flex;
	flex-direction:column;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
}

/*aside0 contient  les 6 images de HÃƒÂ©bergement ÃƒÂ  Marseille */
.aside0{
    display: flex;
    flex-direction:column;
    width:100%;
    height:100%;
}
/*corespond au titre les plus popualires et l'icone dans aside 2*/
.title-populaire{
    display:flex;
    justify-content:space-between;
    padding-left:4%;
    padding-right:4%;
    margin-left:0%;
    margin-right:0%;
    align-items:baseline;
}

/*contient image, titre, paragraphe et ÃƒÂ©toiles, de l'hÃƒÂ©bergement ÃƒÂ  Marseille*/
.image{
    width:95%;
    margin-left:0px;
    margin-right:0px; 
}

/*images correspond ÃƒÂ  chaque image des 6 images de HÃƒÂ©bergement ÃƒÂ  Marsielle*/
.images{
    width: 100%;
    margin-left:0px;
    margin-right:0px;
    height:30vw;
}
/*titre et description de l'image dans l'aside les plus populaires*/
.titre-prix{
   padding-bottom:5%px;
   display:flex;
   flex-direction:column;
   position:relative;
   padding-left:1%;
   
}
.prix-hotel{
    line-height: 1px;
    padding-left: 10px;
    font-size: 3vw;
}

.rating-postion{
  position: absolute;
  bottom:5%;
}

/*contient le bloc des 6 images de la section ActivitÃƒÂ©s ÃƒÂ  Marseille */ 
#activites-de-marseille{
    display:flex;
    flex-direction:column;
    width:auto;
}

/*texte affiche plus dans aside 1*/
.affiche{
    margin-top: 0px;
      margin-left:6%;
}
#h2-activite {
	padding-left:5%;
}

/*tout le bloc 1 et 3 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite1{
    width:100%;
    min-width:95%;
    margin-bottom:2%;
    margin-top:0px;
    margin-left:auto;
    margin-right:auto;
    height:auto;
    padding-bottom:0px;
    margin-bottom:20px;  
}

/*tout le bloc 2 et 4 de la section ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.image-activite2{
    width:100%;
    min-width:95%;
    flex-direction: column;
    margin-left:auto;
    margin-right:auto;
	margin-bottom:0px;
	margin-top:0px; 
	height:auto; 
	padding-bottom:0px;
}
.activite1{
    width:100%; 
    min-width:100%;
     height:30vw;  
}
/*cible chaque image du 2em et 4 em bloc de ActivitÃƒÂ©s ÃƒÂ  Marseille*/
.activite2{
    width:100%;
    min-width:100%;
     height:30vw;  
}
/*image et le titre dessous bloc 2 et 4 de l'activitÃƒÂ©s ÃƒÂ  Marseille*/
.image2-titre2{
	width:100%;
    margin-bottom:20px;
}

/********************pied de la page **************************/
#footer{
   
    flex-direction:column; 
    padding-left:7%;   
}
.liste1{
    min-width:39%;

}
.titre-populaire{
    font-size:3vw;
}
#coeur{
	font-size:3vw;
}
}